/* @media screen and (max-width:1200px) {
    main .section.zero .profile{
        
       
    }

    main .section.zero .profile .profile_info{
        text-align: center;
    }
} */


@media screen and (max-width:1370px) {
    main .section.zero .profile .profile_info{
        
    }






    /* main .section.one .title{
        padding-bottom: 5rem;
        
    }

    main .section.one .banner{
        flex-direction: column-reverse;
    }
    
    .br{
        display: none;
    }

    header .port p,
    header .folio p {
        font-size: 8rem;
        transform: none;
        left: 0;
        text-align: center;
        
    } */
}





@media screen and (max-width: 500px) {

    .br{
        display: none;
    }

    html {
        font-size: 8px;
    }


    header {
        height: auto;
        padding-top: 10rem;
    }


    header .port p,
    header .folio p {
        font-size: 8rem;
        transform: none;
        /* 복잡한 위치 이동 해제 */
        left: 0;
        text-align: center;
        display: block;
    }

    header .folio {
        transform: translateY(0);
        margin-top: -2rem;
    }

    header .folio p::after {
        width: 4.5rem;
        height: 5rem;
        right: 29%;
    }

    /* 스포트라이트 이미지 */
    header .folio img {
        width: 24rem;
        left: 24%;
        /* transform: translateX(-50%); */
        top: 30%;
    }





    /* ----------프로필 영역------- */
    main .section.zero .profile {
        /* height: auto; */
        background-image: none;
        padding: 5rem 2rem;
    }

    main .section.zero .profile .profile_info {
        position: static;
        transform: none;
        flex-direction: column-reverse;
        /* 반대로 */
        align-items: center;
        gap: 5rem;
        color: #fff;
    }

    main .section.zero .profile .profile_info div {
        text-align: center;
    }







    .line {
        /* height: 20rem; 높이 축소 */
    }

    .line .line_1 {}

    .line .line_2 {
        top: 30%;

    }

    .line p {
        font-size: 2rem;
        padding: 1.5rem;
    }



    /* -------배너-------- */
    main .section.one .banner {
        flex-direction: column;
        gap: 5rem;
        flex-direction: column-reverse;
        text-align: center;
    }

    main .section.one .up,
    main .section.one .down {
        width: 100%;
        flex-direction: column;
        /* align-items: center; */
        gap: 10rem;
    }

    main .section.one .up img,
    main .section.one .down img {
        width: 100% !important;
        height: auto !important;
    }












    /* ------코딩-------- */
    main .section.two .card {
        flex-direction: column !important;
        padding: 0 2rem;
        margin-bottom: 8rem;


    }

    main .section.two .card {
        row-gap: 5rem;
    }

    main .section.two .card img {
        width: 100%;
        height: auto;
        /* margin-bottom: 2rem; */

    }

    main .section.two .card:nth-child(3),
    main .section.two .card:nth-child(6) {
        flex-direction: column-reverse !important;
    }



    .info {
        text-align: center;

    }

    .button {
        justify-content: center;

    }





    /* ------- 카드 뉴스 및 상세 페이지 -------*/



    main .section.three .news,
    main .section.four .detail_page {
        flex-direction: column;
        padding: 0 2rem;
        gap: 5rem;
    }






    main .section.four .detail_page .Page img {
        width: 90%;
        height: auto;
    }



    .title {
        font-size: 4rem;
        padding-bottom: 5rem;
    }
}